{% extends 'base.html' %}
{% block title %}Heldenwerft Landingpage{% endblock %}
{% block content_title %}Willkommen zur Heldenwerft{% endblock %}
{% block content %}
    <p>
        Herzlich Willkommen auf der Website der Heldenwerft. Worum es bei der Heldenwerft und dem Service Learning der Europa Universität Flensburg geht, erfahren Sie im folgenden Video.
    </p>
    <iframe width="560"
            height="315"
            src="https://www.youtube.com/embed/ZK9tu6__fOM"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
{% endblock %}
